body {
    display:flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    height:100vh;
    width:100%;
    background-color: #CFD8DC;
}

.music-player {
    position: relative;
    height:200px;
    width: 275px;
    right: 50px;
    
    .album-art {
      position: absolute;
      height: 175px;
      width:175px;
      top: 20%;
      background-color: grey;
      z-index: 2;
      box-shadow: 5px 5px 6px #707070;

      img {
          height:100%;
      }
    }
    
    .desc {
      position: absolute;
      height:116px;
      width: 355px;
      top: 35%;
      left:0;
      background-color:white;
      border-top-right-radius: 30px;
      border: 1px solid black;
      box-shadow: 5px 15px 6px #707070;
    }
    
    .player-control {
      position: absolute;
      border: 1px solid black;
      top: 65%;
      left: 100px;
      height:72px;
      width: 271px;
      border-radius: 10px;
      background-color:white;
      z-index: 1;
      box-shadow: 5px 5px 6px #707070;

      button {
          position: absolute;
      }

      #play-pause {
        left: 61%;
        top: 35%;
      }

      #next-track {
        left: 80%;
        top: 35%;
      }

      #prev-track {
        left: 35%;
        top: 35%;
      }
    }
  }
  
  .scroll {
    padding-top: 10px;
    margin-right: 20px;
    
  }
  
  .slider {
    position: absolute;
    top: 40px;
    left: 51%;
    width: 45%;
    height: 0;
    appearance: none;
    -webkit-appearance: none;
    border: 1px solid #000000;
    outline: none;
    
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      height: 10px;
      width: 10px;
      background-color: white;
      border: 1px solid black;
      border-radius: 50%;
    }
  }

button {
    outline:none;
    background:none;
    border:none;
}

.button {
    height: 20px;
    box-sizing: border-box;
    border-color: transparent transparent transparent black;
    transition: 100ms all ease;
    will-change: border-width;
    cursor: pointer;

    &.play {
        border-style: solid;
        border-width: 10px 0 10px 20px;
    }

    &.pause {
        border-style: double;
        border-width: 0px 0 0px 20px;
    }
    
    &.next-track {
        position: relative;
        border-style: solid;
        border-width: 10px 0 10px 20px;

        &:after {
            background-color: black;
            position: absolute;
            content: '';
            height:19px;
            width:5px;
            left: -3px;
            top: -9px;
        }
    }

    &.prev-track {
        position: relative;
        border-style: solid;
        border-width: 10px 0 10px 20px;
        transform: rotate(180deg);

        &:after {
            background-color: black;
            position: absolute;
            content: '';
            height:19px;
            width:5px;
            left: -3px;
            top: -9px;
        }
    }

}

  

